* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #323232;
}

.tea-cup {
  height: 200px;
  width: 200px;
  background-color: aliceblue;
  border-radius: 0 0 40% 40%;
  z-index: 1;
}

.tea-cup::after {
  content: '';
  display: inline-block;
  width: 74px;
  height: 70px;
  border: 22px solid #eff8ff;
  border-radius: 50%;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(47deg);
  position: relative;
  top: -37%;
  left: 69%;
}

.top {
  width: 100%;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(90deg, #bababa, #cacaca);
  transform: translateY(-50%);
  overflow: hidden;
}

.tea {
  width: 100%;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(90deg, #cc8e31, #c9984e);
  transform: translateY(40%);
}

.vapour {
  display: flex;
  justify-content: space-around;
  top: -45%;
  position: relative;
  margin: 0 20px;
}
.vapour > span {
  height: 50px;
  width: 10px;
  background-color: white;
  animation: smoke 5s linear infinite;
  filter: blur(10px);
  animation-delay: calc(var(--i) * 1s);
}

@keyframes smoke {
  0% {
    transform: translateY(0) scaleX(1);
  }
  30% {
    transform: translateY(-50px) scaleX(3);
  }
  60% {
    transform: translateY(-100px) scaleX(5);
  }
  100% {
    transform: translateY(-180px) scaleX(7);
  }
}

.tea-saucer {
  position: absolute;
  width: 350px;
  height: 80px;
  border-radius: 50%;
  background: radial-gradient(#eff8ff, #eff8ffb0);
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  box-shadow: 1px 6px 28px 2px rgba(191, 145, 145, 0.48);
}
